<div class='banner'>
	<img src='../images/intro/air/banner.jpg'/>
</div>
<div class='logo-chip table'>
	<div class='row'>
		<div class='icon'>
			<img src='../images/intro/air/icon.png'/>
		</div>
		<div class='icon-title'>
			空调清洗
		</div>
		<div class='icon-des'>
			<p>145元/台起</p>
		</div>
	</div>
</div>
<div class='title'>服务价格</div>
<div class='content'>
	<div class='table price-table'>
		<div class='row'>
			<div class='type-icon'>
				<img src='../images/intro/air/p1.jpg'/>
			</div>
			<div class='air-type'>
				<p>挂式空调</p>
				<p class='price-gray'>145元/台</p>
			</div>
			<div class='type-icon type-2'>
				<img src='../images/intro/air/p2.jpg'/>
			</div>
			<div class='air-type'>
				<p>柜式空调</p>
				<p class='price-gray'>170元/台</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务范围</div>
<div class='content'>
	<div class='table service-range'>
		<div class='row'>
			<div>
				<img src='../images/intro/air/p3.png'/>	
			</div>
			<div>
				<img src='../images/intro/air/p4.png'/>
			</div>
		</div>
		<div class='row'>
			<div>
				<p>室内空调机壳、风板、顶部、接水盘、空气过滤网、风轮洁净</p>
			</div>
			<div>
				<p>换热器无尘、无菌</p>
			</div>
		</div>
	</div>
	<p class='price-des'>注：为达到更好的清洁杀菌效果，需要您提供热水。</p>
</div>
<div class='title'>服务流程</div>
<div class='content'>
	<div class='table service-step'>
		<div class='row'>
			<div>
				<img src='../images/intro/air/p5.png'/>
				<p>全面科学试机</p>
			</div>
			<div>
				<img src='../images/intro/air/p6.png'/>
				<p>打开机身</p>
			</div>
			<div>
				<img src='../images/intro/air/p7.png'/>
				<p>泡沫清洗</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/air/p8.png'/>
				<p>水剂清洗</p>
			</div>
			<div>
				<img src='../images/intro/air/p9.png'/>
				<p>滤网清洗</p>
			</div>
			<div>
				<img src='../images/intro/air/p10.png'/>
				<p>蒸汽机消毒</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务优势</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/s1.png'/>
				<p>服务人员形象统一</p>
				<p>工具标配</p>
			</div>
			<div>
				<img src='../images/intro/s2.png'/>
				<p>实名认证、健康</p>
				<p>认证、技能认证</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/s3.png'/>
				<p>专业工具组</p>
				<p>超强清洁0死角</p>
			</div>
			<div>
				<img src='../images/intro/s4.png'/>
				<p>更换垃圾袋</p>
				<p>服务更贴心</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/service2.png'/>
</div>
<div class='title'>预订须知</div>
<div class='content'>
	<p><span class='list-style'></span>更改订单服务时间：请在服务前至少4小时通知e享家或家政服务人员；</p>
	<p><span class='list-style'></span>取消订单：如暂时不需要此服务请您取消订单，需要时再重新预约即可；</p>
	<p><span class='list-style'></span>注：服务时间内由于用户原因无法照常服务，服务人员将等待15分钟，自行离开。</p>
</div>
<div class='fixed-btn'>
	<button>马上预约</button>
</div>