<div class="aunt-item" data-userid="<%=data[i].providerId%>" data-price="<%=data[i].price%>" data-commercialid="<%=data[i].commercialid%>">
	<div class='aunt-info'>
		<img src='<%=data[i].icon%>' class='aunt-icon'/>
		<p>
			<span class="aunt-name"><%=data[i].realname%></span>
			<span class="aunt-level">
				<i class="iconfont aunt-star">&#xe676;</i>
			</span>
		</p>
		<p>
			<span>年龄：<%=data[i].age%>岁</span>
			<span class='user-address'>籍贯：<%=data[i].useraddress%></span>
		</p>
		<p><span>已服务：<%=data[i].ordercount%>次</span></p>
	</div>
</div>