<div class="aunt-item" data-userid="<%=data.providerId%>" data-price="<%=data.price%>" data-commercialid="<%=data.commercialid%>">
	<div class='aunt-info'>
		<img src='<%=data.icon%>' class='aunt-icon'/>
		<p>
			<span class="aunt-name"><%=data.realname%></span>
			<span class="aunt-level">
				<%for(var j=0;j<data.startlevel;j++){%><!--不能用i循环了..-->
					<i class="iconfont aunt-star">&#xe676;</i>
				<%}%>
			</span>
		</p>
		<p>
			<span>年龄：<%=data.age%>岁</span>
			<span class='user-address'>籍贯：<%=data.useraddress%></span>
		</p>
		<p><span>已服务：<%=data.ordercount%>次</span></p>
	</div>
</div>