<div class='banner'>
	<img src='../images/intro/daily/banner.jpg'/>
</div>
<div class='logo-chip table'>
	<div class='row'>
		<div class='icon'>
			<img src='../images/intro/daily/icon.png'/>
		</div>
		<div class='icon-title'>
			日常保洁
		</div>
		<div class='icon-des'>
			<p>25元/小时</p>
			<p>2小时起</p>
		</div>
	</div>
</div>
<div class='title'>服务价格</div>
<div class='content'>
	<p class='price-des'>日常保洁服务价格为25元/小时，2小时起</p>
	<p>参考时长：</p>
	<table>
		<thead>
			<tr>
				<td>房屋户型</td>
				<td>一居室</td>
				<td>二居室</td>
				<td>三居室</td>
				<td>四居室及以上</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>日常保洁</td>
				<td>2-3小时</td>
				<td>3-4小时</td>
				<td>4-5小时</td>
				<td>5小时以上</td>
			</tr>
			<tr>
				<td>大扫除</td>
				<td>4-5小时</td>
				<td>5-6小时</td>
				<td>6-7小时</td>
				<td>7小时以上</td>
			</tr>
		</tbody>
	</table>
	<p>注：</p>
	<p>1.不同户型及油污、积灰程度会影响打扫时长，以上打扫时长仅供您参考。<p>
	<p>2.预约5小时以上保洁服务，建议预约2位或2位以上手艺人上门。<p>
	<p>3.适用说明：仅适用于日常家庭室内保洁，不可用于学校、办公室、商铺 、出租房、新装修房、长期未入住房、集体宿舍楼等。</p>
</div>
<div class='title'>服务标准</div>
<div class='table'>
	<div class='row'>
		<div class='chip-icon'>
			<img src='../images/intro/daily/p1.png'/>
			<p style='color:#3e93fb;'>厨房</p>
		</div>
		<div class='chip-des'>
			<p><span>油烟机：</span>外观、油盒无油污、无水痕</p>
			<p><span>燃气灶：</span>灶台表面无油污、无水痕</p>
			<p><span>橱柜：</span>表面、把手无油污、无水痕</p>
			<p><span>洗菜池及台面：</span>洗菜池四周和出水口无污渍、无水珠，台面无水痕、无油污，调味瓶及台面上物品整齐摆放</p>
			<p><span>地面：</span>无污渍、无水痕</p>
			<p><span>瓷砖墙面：</span>无污渍、无水痕，开关、插座表面无污渍、无水痕</p>
			<p><span>垃圾桶：</span>垃圾倾倒，套上干净的垃圾袋</p>
		</div>
	</div>
</div>
<div class='table table-2'>
	<div class='row row-2'>
		<div class='chip-des'>
			<p><span>洗漱台：</span>镜面、化妆瓶、柜子表面无水痕、无污渍，台面物品整齐摆放</p>
			<p><span>沐浴房：</span>沐浴房及沐浴用品无污渍、无水痕，沐浴用品整齐摆放</p>
			<p><span>马桶：</span>马桶表面无污渍、无水痕，内侧光亮如新</p>
			<p><span>地面：</span>无污渍、无水痕</p>
			<p><span>瓷砖墙面：</span>无污渍、无水痕，开关、插座表面无污渍、无水痕</p>
			<p><span>垃圾桶：</span>垃圾倾倒，套上干净的垃圾袋</p>
		</div>
		<div class='chip-icon'>
			<img src='../images/intro/daily/p2.png'/>
			<p style='color:#ffab33;'>卫生间</p>
		</div>
	</div>
</div>
<div class='table'>
	<div class='row'>
		<div class='chip-icon'>
			<img src='../images/intro/daily/p3.png'/>
			<p style='color:#ff6733;'>客厅</p>
		</div>
		<div class='chip-des'>
			<p><span>沙发与茶几：</span>沙发坐垫、靠枕摆放整齐，底部清扫干净、无毛发、无杂物，茶几茶具摆放整齐，烟灰缸倾倒、擦洗干净</p>
			<p><span>墙面：</span>开关、插座表面无污渍、无水痕</p>
			<p><span>地面：</span>地面干净、无水痕，可移动物品需挪动清洗干净后整齐归位</p>
			<p><span>鞋柜：</span>鞋柜外鞋子统一朝向摆放整齐、鞋柜表面、把手干净无尘</p>
			<p><span>垃圾桶：</span>垃圾倾倒，套上干净的垃圾袋</p>
		</div>
	</div>
</div>
<div class='table table-2'>
	<div class='row row-2'>
		<div class='chip-des'>
			<p><span>床：</span>枕头置顶并列摆放，被子平铺覆盖整床，床无灰尘、无水痕，床头柜无灰尘、无水痕，物品整齐摆放</p>
			<p><span>梳妆台：</span>物品无污渍、无水痕，台面、把手无污渍、无水痕</p>
			<p><span>衣柜：</span>表面无污渍、无水痕，把手无污渍、无水痕</p>
			<p><span>墙面：</span>开关、插座表面无污渍、无水痕</p>
			<p><span>地面：</span>地面干净、无水痕，可移动物品需挪动清洗干净后整齐归位</p>
			<p><span>垃圾桶：</span>垃圾倾倒，套上干净的垃圾袋</p>
		</div>
		<div class='chip-icon'>
			<img src='../images/intro/daily/p4.png'/>
			<p style='color:#5eab0e;'>卧室</p>
		</div>
	</div>
</div>
<div class='table'>
	<div class='row'>
		<div class='chip-icon'>
			<img src='../images/intro/daily/p5.png'/>
			<p style='color:#f5576b;'>餐厅</p>
		</div>
		<div class='chip-des'>
			<p><span>餐桌椅：</span>餐桌、餐椅、餐具摆放整齐，无污痕、无水痕</p>
			<p><span>地面：</span>地面无污渍、无水痕，餐椅挪开后清洗归位</p>
			<p><span>墙面：</span>开关、插座表面无污渍、无水痕</p>
			<p><span>垃圾桶：</span>垃圾倾倒，套上干净的垃圾袋</p>
		</div>
	</div>
</div>
<div class='table table-2'>
	<div class='row row-2'>
		<div class='chip-des'>
			<p><span>洗衣机：</span>表面无污渍、无水痕，洗衣机盖打开</p>
			<p><span>洗衣池：</span>四周无污渍，下水口处于打开状态</p>
			<p><span>地面：</span>洗涤用品整齐摆放，地面无污渍、无水痕</p>
		</div>
		<div class='chip-icon'>
			<img src='../images/intro/daily/p6.png'/>
			<p style='color:#8e0fbc;'>阳台</p>
		</div>
	</div>
</div>
<div class='title'>专业工具</div>
<div class='content'>
	<img src='../images/intro/daily/p7.png'/>
	<div class='tips-box'>
		<span class='tips'>
			e享家专业工具组
		</span>
	</div>
	<img src='../images/intro/daily/p8.png'/>
	<div class='tips-box'>
		<span class='tips'>
			<p>satto工具套装组介绍</p>
			<p>小巧轻便，区域使用划分明晰，实现保洁服务0死角</p>
		</span>
	</div>
	<img src='../images/intro/daily/p9.png'/>
	<div class='tips-box'>
		<span class='tips tips-left'>
			六色保洁布规范化分区域使用，不同颜色、不同材质的保洁布适用于不同区域，干湿分离、避免交叉污染，干净更卫生。
		</span>
	</div>
	<img src='../images/intro/daily/p10.png'/>
	<div class='tips-box'>
		<span class='tips'>
			威猛先生专用清洁剂
		</span>
	</div>
</div>
<div class='title'>服务优势</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/s1.png'/>
				<p>服务人员形象统一</p>
				<p>工具标配</p>
			</div>
			<div>
				<img src='../images/intro/s2.png'/>
				<p>实名认证、健康</p>
				<p>认证、技能认证</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/s3.png'/>
				<p>专业工具组</p>
				<p>超强清洁0死角</p>
			</div>
			<div>
				<img src='../images/intro/s4.png'/>
				<p>更换垃圾袋</p>
				<p>服务更贴心</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/service2.png'/>
</div>
<div class='title'>预订须知</div>
<div class='content content-tips'>
	<p><span class='list-style'></span>更改订单服务时间：请在服务前至少4小时通知e享家或家政服务人员；</p>
	<p><span class='list-style'></span>取消订单：1.如暂时不需要此服务请您取消订单，需要时再重新预约即可；2.服务前两小时不支持线上取消订单，如需取消订单请致电400-880-9205取消订单。
</p>
	<p><span class='list-style'></span>注：服务时间内由于用户原因无法照常服务，服务人员将等待15分钟，自行离开。</p>
</div>
<div class='fixed-btn'>
	<button>马上预约</button>
</div>
