<div class="menu table">
	<div class="td home">
		<a href='/wechat/v4.0/home.html'>
			<figure class="menu-item <%if(current==1){%> menu-current<%}%>">
		    	<i class="iconfont">&#xe665;</i>
		    	<figcaption>首页</figcaption>
	  		</figure>
		</a>
	</div>
	<div class="td order">
		<a href='/wechat/order.html'>
			<figure class="menu-item <%if(current==2){%> menu-current<%}%>">
		    	<i class="iconfont">&#xe663;</i>
		    	<figcaption>订单</figcaption>
	  		</figure>
  		</a>
	</div>
	<div class="td vip">
		<a href='/wechat/recharge.html'>
			<figure class="menu-item <%if(current==4){%> menu-current<%}%>">
		    	<i class="iconfont">&#xe664;</i>
		    	<figcaption>会员</figcaption>
	  		</figure>
  		</a>
	</div>
	<div class="td profile">
		<a href='/wechat/profile.html'>
			<figure class="menu-item <%if(current==3){%> menu-current<%}%>">
		    	<i class="iconfont">&#xe666;</i>
		    	<figcaption>我的</figcaption>
	  		</figure>
  		</a>
	</div>
</div>