<div class='banner'>
	<img src='../images/intro/fotile/banner.jpg'/>
</div>
<div class='logo-chip table'>
	<div class='row'>
		<div class='icon'>
			<img src='../images/intro/fotile/icon.png'/>
		</div>
		<div class='icon-title'>
			油烟机清洗
		</div>
		<div class='icon-des'>
			<p>160元/台</p>
		</div>
	</div>
</div>
<div class='title'>服务价格</div>
<div class='content'>
	<p class='price-des'>油烟机清洗价格为160元/台，包含如下类型：</p>
	<table>
		<tr>
			<td>
				<img src='../images/intro/fotile/p1.png'/>
				<p>欧式油烟机</p>
			</td>
			<td>
				<img src='../images/intro/fotile/p2.png'/>
				<p>中式油烟机</p>
			</td>
			<td>
				<img src='../images/intro/fotile/p3.png'/>
				<p>侧吸式油烟机</p>
			</td>
		</tr>
	</table>
	<p class='price-des'>说明：</p>
	<p>1.油烟机清洗不包含集成灶中的油烟机、直吸式油烟机。</p>
	<p>2.操作过程中，如果发现油烟机内部有异常，手艺人会与您进行确认，并报送e享家客服部(更换维修需另收费)。</p>
	<p>3.服务前、服务后都会检测油烟机外观及各项功能是否正常，请您确认后签字。</p>
	<p>4.清洗时需要热水用于浸泡清洗油盒、油网等,请您提前准备热水。</p>
</div>
<div class='title'>服务范围</div>
<div class='content'>
	<div class='table service-range'>
		<div class='row'>
			<div>
				<img src='../images/intro/fotile/p4.png'/>
				<p>油烟机内外</p>
				<p>表面洁净光亮</p>
			</div>
			<div>
				<img src='../images/intro/fotile/p5.png'/>
				<p>挡光罩、止回阀无油无痕消毒</p>
			</div>
			<div>
				<img src='../images/intro/fotile/p6.png'/>
				<p>油烟机的涡轮壳、涡轮除油消毒</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务流程</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/fotile/p7.png'/>
				<p>专业试机</p>
			</div>
			<div>
				<img src='../images/intro/fotile/p8.png'/>
				<p>专业除油剂</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/fotile/p9.png'/>
				<p>高温蒸汽</p>
			</div>
			<div>
				<img src='../images/intro/fotile/p10.png'/>
				<p>清洁工作区域</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务优势</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/s1.png'/>
				<p>服务人员形象统一</p>
				<p>工具标配</p>
			</div>
			<div>
				<img src='../images/intro/s2.png'/>
				<p>实名认证、健康</p>
				<p>认证、技能认证</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/s3.png'/>
				<p>专业工具组</p>
				<p>超强清洁0死角</p>
			</div>
			<div>
				<img src='../images/intro/s4.png'/>
				<p>更换垃圾袋</p>
				<p>服务更贴心</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/service2.png'/>
</div>
<div class='title'>预订须知</div>
<div class='content'>
	<p><span class='list-style'></span>更改订单服务时间：请在服务前至少4小时通知e享家或家政服务人员；</p>
	<p><span class='list-style'></span>取消订单：1.如暂时不需要此服务请您取消订单，需要时再重新预约即可；2.服务前两小时不支持线上取消订单，如需取消订单请致电400-880-9205取消订单。
</p>
	<p><span class='list-style'></span>注：服务时间内由于用户原因无法照常服务，服务人员将等待15分钟，自行离开。</p>
</div>
<div class='fixed-btn'>
	<button>马上预约</button>
</div>