<div class='banner'>
	<img src='../images/intro/icebox/banner.jpg'/>
</div>
<div class='logo-chip table'>
	<div class='row'>
		<div class='icon'>
			<img src='../images/intro/icebox/icon.png'/>
		</div>
		<div class='icon-title'>
			冰箱清洗
		</div>
		<div class='icon-des'>
			<p>99元/台起</p>
		</div>
	</div>
</div>
<div class='title'>服务价格</div>
<div class='table price-table'>
	<div class='row'>
		<div class='type-icon'>
			<img src='../images/intro/icebox/p3.jpg'/>
		</div>
		<div>
			<p class='type-title'>单/双门冰箱<span class='price'>99元/台</span></p>
			<p class='type-des'>包含冰箱除味、除霜，内外部擦拭清洁、消毒</p>
		</div>
	</div>
	<div class='row row-2'>
		<div class='type-icon'>
			<img src='../images/intro/icebox/p2.jpg'/>
		</div>
		<div>
			<p class='type-title'>三开门冰箱<span class='price'>180元/台</span></p>
			<p class='type-des'>包含冰箱除味、除霜，内外部擦拭清洁、消毒等</p>
		</div>
	</div>
	<div class='row'>
		<div class='type-icon'>
			<img src='../images/intro/icebox/p1.jpg'/>
		</div>
		<div>
			<p class='type-title'>对开门冰箱<span class='price'>230元/台</span></p>
			<p class='type-des'>包含冰箱除味、除霜，内外部擦拭清洁、消毒等</p>
		</div>
	</div>
</div>
<div class='title'>服务范围</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/icebox/p4.png'/>
				<p>冰箱除味</p>
				<p>冰箱内部除霜除水</p>
			</div>
			<div>
				<img src='../images/intro/icebox/p5.png'/>
				<p>冰箱零件部清洁</p>
				<p>内外部清洁、消毒等</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务流程</div>
<div class='content'>
	<div class='table service-range'>
		<div class='row'>
			<div>
				<img src='../images/intro/icebox/s1.png'/>
			</div>
			<div>
				<img src='../images/intro/icebox/s2.png'/>
			</div>
			<div>
				<img src='../images/intro/icebox/s3.png'/>
			</div>
		</div>
		<div class='row'>
			<div>
				<p>全面检测机器</p>
			</div>
			<div>
				<p>食品级消毒液及消毒湿巾擦拭</p>
			</div>
			<div>
				<p>高温蒸汽消毒机深层消毒</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/icebox/s4.png'/>
			</div>
			<div>
				<img src='../images/intro/icebox/s5.png'/>
			</div>
			<div>
				<img src='../images/intro/icebox/s6.png'/>
			</div>
		</div>
		<div class='row'>
			<div>
				<p>天然清洁剂擦拭清洁内部</p>
			</div>
			<div>
				<p>专业消毒机深层消毒内部</p>
			</div>
			<div>
				<p>门缝部分精细消毒操作</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务优势</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/s1.png'/>
				<p>服务人员形象统一</p>
				<p>工具标配</p>
			</div>
			<div>
				<img src='../images/intro/s2.png'/>
				<p>实名认证、健康</p>
				<p>认证、技能认证</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/s3.png'/>
				<p>专业工具组</p>
				<p>超强清洁0死角</p>
			</div>
			<div>
				<img src='../images/intro/s4.png'/>
				<p>更换垃圾袋</p>
				<p>服务更贴心</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/service2.png'/>
</div>
<div class='title'>预订须知</div>
<div class='content'>
	<p><span class='list-style'></span>更改订单服务时间：请在服务前至少4小时通知e享家或家政服务人员；</p>
	<p><span class='list-style'></span>取消订单：1.如暂时不需要此服务请您取消订单，需要时再重新预约即可；2.服务前两小时不支持线上取消订单，如需取消订单请致电400-880-9205取消订单。
</p>
	<p><span class='list-style'></span>注：服务时间内由于用户原因无法照常服务，服务人员将等待15分钟，自行离开。</p>
</div>
<div class='fixed-btn'>
	<button>马上预约</button>
</div>