<div class='table'>
	<%for(var i=0;i<list.length;i++){%>
		<div class="row aunt-item" data-userid='<%=list[i].userid%>'>
			<div class="aunt-icon">
				<%if(!!list[i].icon){%>
					<img src="<%=list[i].icon%>"/>
				<%}else{%>
					<img src="/images/wx/aunt_logo.png"/>
				<%}%>
				<%if(i==0&&firstResult==0){%>
					<img src='../images/aunt/top1.png' class='top-flag'/>
				<%}else if(i==1&&firstResult==0){%>
					<img src='../images/aunt/top2.png' class='top-flag'/>
				<%}else if(i==2&&firstResult==0){%>
					<img src='../images/aunt/top3.png' class='top-flag'/>
				<%}%>
			</div>
			<div class="aunt-info-base">
				<p>
					<span><%=list[i].realname%></span>
					<span class="aunt-level">
						<%if(list[i].startlevel){%>
							<%for(var j=0;j<list[i].startlevel;j++){%><!--不能用i循环了..-->
								<i class="iconfont aunt-star">&#xe676;</i>
							<%}%>
						<%}else{%>
							<i class="iconfont aunt-star">&#xe676;</i>
						<%}%>
					</span>
				</p>
				<p>
					<span>年龄：<%=list[i].age%>岁</span>
					<span class='user-address'>籍贯：<%=list[i].useraddress%></span>
				</p>
				<p><span>已服务：<%=list[i].ordercount%>次</span></p>
			</div>
			<div class="iconfont icon-check if-2x myAunt-check" data-userid="<%=list[i].userid%>" data-name="<%=list[i].realname%>" data-icon="<%=list[i].icon%>">
			</div>
		</div>
	<%}%>
</div>