<div class='title-chip'>
	<p class='new-title'><%=title%></p>
	<p class='new-other'>
		<span><%=createtime%></span>
		<span class='new-source' data-source='<%=sourceurl%>'><%=source%></span>
		<span class='news-views'>
			<i class="iconfont">&#xe671;</i><%=readnum%>
		</span>
	</p>
</div>
<div class='new-content'><%=content%></div>
<div class='fixed-btn'>
	<button>返回</button>
</div>