<div class='banner'>
	<img src='../images/pay/banner_new.jpg'/>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>开心家·初体验</p>
			<p class='info-2'>充值600<span>送100元北国亲情卡</span></p>
			<p class='tips'>注：活动期间此套餐仅限充值一次,不享受推荐100元奖励</p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/checked.png' data-id='212'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>小资居家之选</p>
			<p class='info-2'>充值1000<span>送200元北国亲情卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='213'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>温馨居家之选</p>
			<p class='info-2'>充值2500<span>送600元北国亲情卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='214'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>无忧居家之选</p>
			<p class='info-2'>充值3000<span>送800元北国亲情卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='215'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>美丽居家之选</p>
			<p class='info-2'>充值5000<span>送1200元北国亲情卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='216'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>幸福居家之选</p>
			<p class='info-2'>充值8000<span>送2200元北国亲情卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='217'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>乐享居家之选</p>
			<p class='info-2'>充值10000<span>送3000元北国亲情卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='218'/>
		</div>
	</div>
</div>
<div class='pay-box'>
	<div class='row'>
		<div class='col-1'><img src='../images/pay/checked.png'/></div>
		<div class='col-2'><span>阅读并同意<span class='rule-1'>《会员充值规则》</span>
			及<span class='rule-2'>《e享家会员协议》</span>
		</span>
		</div>
	</div>
	<div>
		<input type="text" id="mobile" placeholder="请填写推荐人手机号">
	</div>
	<div class='pay-btn'>
		<button>确认支付</button>
	</div>
</div>
<div class='banner'>
	<img src='../images/pay/banner_bottom_new.jpg'/>
</div>