<div class='banner'>
	<img src='../images/pay/banner_tkl.jpg'/>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>开心家·初体验</p>
			<p class='info-2'>充值500<span>送200元365生活卡</span></p>
			<p class='tips'>注：活动期间此套餐仅限充值一次</p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/checked.png' data-id='219'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>小资居家之选</p>
			<p class='info-2'>充值1000<span>送300元365生活卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='220'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>温馨居家之选</p>
			<p class='info-2'>充值2000<span>送800元365生活卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='221'/>
		</div>
	</div>
</div>
<div class='table'>
	<div class='activity-item row'>
		<div class='item-info'>
			<p class='info-1'>无忧居家之选</p>
			<p class='info-2'>充值3000<span>送1300元365生活卡</span></p>
		</div>
		<div class='item-check'>
			<img src='../images/pay/check.png' data-id='222'/>
		</div>
	</div>
</div>
<div class='pay-box'>
	<div class='row'>
		<div class='col-1'><img src='../images/pay/checked.png'/></div>
		<div class='col-2'><span>阅读并同意<span class='rule-1'>《会员充值规则》</span>
			及<span class='rule-2'>《e享家会员协议》</span>
		</span>
		</div>
	</div>
	<div>
		<input type="hidden" id="mobile" placeholder="请填写推荐人手机号">
	</div>
	<div class='pay-btn'>
		<button>确认支付</button>
	</div>
</div>