<div class='banner'>
	<img src='../images/intro/professional/banner.jpg'/>
</div>
<div class='title'>日常清洁服务内容</div>
<div class='content'>
	<div class='table'>
		<div class='row'>
			<div>
				<img src='../images/intro/professional/p1.png'/>
				<p>办公区</p>
			</div>
			<div>
				<img src='../images/intro/professional/p2.png'/>
				<p>会议室</p>
			</div>
			<div>
				<img src='../images/intro/professional/p3.png'/>
				<p>前台</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/professional/p4.png'/>
				<p>茶水间</p>
			</div>
			<div>
				<img src='../images/intro/professional/p5.png'/>
				<p>卫生间</p>
			</div>
			<div>
				<img src='../images/intro/professional/p6.png'/>
				<p>休闲室</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>更多服务</div>
<div class='content'>
	<div class='table'>
		<div class='row'>
			<div>
				<img src='../images/intro/professional/p7.png'/>
				<p>新址开荒</p>
			</div>
			<div>
				<img src='../images/intro/professional/p9.png'/>
				<p>绿植租摆</p>
			</div>
			<div>
				<img src='../images/intro/professional/p8.png'/>
				<p>甲醛治理</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/professional/service.jpg'/>
</div>
<div class='fixed-btn'>
	<a class='btn' href='tel:4008809205'>电话预约</a>
</div>
