<div class="searchAunt-page">
	<div class="component">	
		<!-- Initial start button that switches into the recording button -->
		<div class="button button--start button--listen">
			<div class="button__content button__content--listen">
				<img src='<%=userIcon%>' class="user-icon"/>
			</div>		
		</div>
		<!--<canvas id="ripple"></canvas>-->
		<div class="circle">
            <div class="circle-a"></div>
            <div class="circle-b"></div>
            <div class="circle-c"></div>
        </div>
	</div><!-- /component -->
</div>