<div class='banner'>
	<img src='../images/intro/washer/banner.jpg'/>
</div>
<div class='logo-chip table'>
	<div class='row'>
		<div class='icon'>
			<img src='../images/intro/washer/icon.png'/>
		</div>
		<div class='icon-title'>
			洗衣机清洗
		</div>
		<div class='icon-des'>
			<p>130元/台起</p>
		</div>
	</div>
</div>
<div class='title'>服务价格</div>
<div class='content'>
	<div class='table price-table'>
		<div class='row'>
			<div class='type-icon'>
				<img src='../images/intro/washer/p1.jpg'/>
			</div>
			<div class='air-type'>
				<p>波轮洗衣机</p>
				<p class='price-gray'>130元/台</p>
			</div>
			<div class='type-icon type-2'>
				<img src='../images/intro/washer/p2.jpg'/>
			</div>
			<div class='air-type'>
				<p>滚筒洗衣机</p>
				<p class='price-gray'>165元/台</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务范围</div>
<div class='content'>
	<div class='table service-step'>
		<div class='row'>
			<div>
				<img src='../images/intro/washer/p3.png'/>
			</div>
			<div>
				<img src='../images/intro/washer/p4.png'/>
			</div>
			<div>
				<img src='../images/intro/washer/p5.png'/>
			</div>
		</div>
		<div class='row'>
			<div>
				<p>内筒、外壁、排水口、显示窗干净光亮</p>
			</div>
			<div>
				<p>接水管、排水管等洁净无污</p>
			</div>
			<div>
				<p>工作区域干净、物品归位</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务流程</div>
<div class='content'>
	<div class='table service-step'>
		<div class='row'>
			<div>
				<img src='../images/intro/washer/p6.png'/>
			</div>
			<div>
				<img src='../images/intro/washer/p7.png'/>
			</div>
			<div>
				<img src='../images/intro/washer/p8.png'/>
			</div>
		</div>
		<div class='row'>
			<div>
				<p>全面检查洗衣机</p>
			</div>
			<div>
				<p>进口高温蒸汽设备</p>
			</div>
			<div>
				<p>清洗外壳小部件</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务优势</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/s1.png'/>
				<p>服务人员形象统一</p>
				<p>工具标配</p>
			</div>
			<div>
				<img src='../images/intro/s2.png'/>
				<p>实名认证、健康</p>
				<p>认证、技能认证</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/s3.png'/>
				<p>专业工具组</p>
				<p>超强清洁0死角</p>
			</div>
			<div>
				<img src='../images/intro/s4.png'/>
				<p>更换垃圾袋</p>
				<p>服务更贴心</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/service2.png'/>
</div>
<div class='title'>预订须知</div>
<div class='content'>
	<p><span class='list-style'></span>更改订单服务时间：请在服务前至少4小时通知e享家或家政服务人员；</p>
	<p><span class='list-style'></span>取消订单：如暂时不需要此服务请您取消订单，需要时再重新预约即可；</p>
	<p><span class='list-style'></span>注：服务时间内由于用户原因无法照常服务，服务人员将等待15分钟，自行离开。</p>
</div>
<div class='fixed-btn'>
	<button>马上预约</button>
</div>