<div class='banner'>
	<img src='../images/intro/wasteland/banner.jpg'/>
</div>
<div class='logo-chip table'>
	<div class='row'>
		<div class='icon'>
			<img src='../images/intro/wasteland/icon.png'/>
		</div>
		<div class='icon-title'>
			新居开荒
		</div>
		<div class='icon-des'>
			<p>5元/㎡</p>
		</div>
	</div>
</div>
<div class='title'>服务价格</div>
<div class='content'>
	<p class='price-des'>新居开荒保洁价格为5元/㎡，以房屋建筑面积为准，60㎡起，不足60㎡按60㎡计算。</p>
	<p><span class='list-style'></span>本服务仅适用于新装修房屋或者新装商户、办公室，二次装修以及重污的厨房和卫生间每平米多加收1元。
     </p>
	<p><span class='list-style'></span>家具内部、字画、古董、宗教陈设、易损易碎摆件、吊灯不在清扫范围之内。</p>
	<p><span class='list-style'></span>服务时间大概需要5-7小时完成，具体时间视房屋面积以及装修情况而定，需至少提前一天预约，建议预约时间点为上午8:00-10:00之间。</p>
</div>
<div class='title'>服务范围</div>
<div class='content'>
	<div class='table service-range'>
		<div class='row'>
			<div>
				<img src='../images/intro/wasteland/p1.png'/>
			</div>
			<div>
				<img src='../images/intro/wasteland/p2.png'/>
			</div>
			<div>
				<img src='../images/intro/wasteland/p3.png'/>
			</div>
		</div>
		<div class='row'>
			<div>
				<p>建筑垃圾清理</p>
			</div>
			<div>
				<p>装修残余胶、</p>
				<p>漆、尘土清理</p>
			</div>
			<div>
				<p>地面、墙面</p>
				<p>吊顶除尘</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/wasteland/p4.png'/>
			</div>
			<div>
				<img src='../images/intro/wasteland/p5.png'/>
			</div>
			<div>
				<img src='../images/intro/wasteland/p6.png'/>
			</div>
		</div>
		<div class='row'>
			<div>
				<p>室内所有房间玻璃清洗</p>
			</div>
			<div>
				<p>卫生间</p>
				<p>深度清洁</p>
			</div>
			<div>
				<p>厨房深度清洁</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务优势</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/s1.png'/>
				<p>服务人员形象统一</p>
				<p>工具标配</p>
			</div>
			<div>
				<img src='../images/intro/s2.png'/>
				<p>实名认证、健康</p>
				<p>认证、技能认证</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/s3.png'/>
				<p>专业工具组</p>
				<p>超强清洁0死角</p>
			</div>
			<div>
				<img src='../images/intro/s4.png'/>
				<p>更换垃圾袋</p>
				<p>服务更贴心</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/service2.png'/>
</div>
<div class='title'>预订须知</div>
<div class='content content-tips'>
	<p><span class='list-style'></span>更改订单服务时间：请在服务前至少4小时通知e享家或家政服务人员；</p>
	<p><span class='list-style'></span>取消订单：如暂时不需要此服务请您取消订单，需要时再重新预约即可；</p>
	<p><span class='list-style'></span>注：服务时间内由于用户原因无法照常服务，服务人员将等待15分钟，自行离开。</p>
</div>
<div class='fixed-btn'>
	<button>马上预约</button>
</div>