<div class='banner'>
	<img src='../images/intro/window/banner.jpg'/>
</div>
<div class='logo-chip table'>
	<div class='row'>
		<div class='icon'>
			<img src='../images/intro/window/icon.png'/>
		</div>
		<div class='icon-title'>
			玻璃清洗
		</div>
		<div class='icon-des'>
			<p>12元/㎡（120元起）</p>
		</div>
	</div>
</div>
<div class='title'>服务价格</div>
<div class='content'>
	<p class='price-des'>玻璃清洗价格为12元/㎡（120元起），玻璃面积（含玻璃框架）以现场实地测量为准，不能清洗部分不计费。</p>
	<table>
		<thead>
			<tr>
				<td>房屋户型</td>
				<td>玻璃面积参考</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>一居室（80㎡以下）</td>
				<td>10㎡</td>
			</tr>
			<tr>
				<td>二居室（80-120㎡）</td>
				<td>10-15㎡</td>
			</tr>
			<tr>
				<td>三居室（120-140㎡）</td>
				<td>15-25㎡</td>
			</tr>
			<tr>
				<td>四居室及以上（140㎡以上）</td>
				<td>25㎡以上</td>
			</tr>
		</tbody>
	</table>
</div>
<div class='title'>服务范围</div>
<div class='content'>
	<div class='table service-range'>
		<div class='row'>
			<div>
				<img src='../images/intro/window/p1.png'/>
				<p>玻璃内外</p>
				<p>表面清洗</p>
			</div>
			<div>
				<img src='../images/intro/window/p2.png'/>
				<p>窗框无污渍</p>
				<p>无水痕</p>
			</div>
			<div>
				<img src='../images/intro/window/p3.png'/>
				<p>窗框无砂砾</p>
				<p>无水痕</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/window/p4.png'/>
				<p>便携可拆卸</p>
				<p>窗纱清洗</p>
			</div>
			<div>
				<img src='../images/intro/window/p5.png'/>
				<p>窗台及工作</p>
				<p>区域干净整洁</p>
			</div>
			<div>
			</div>
		</div>
	</div>
	<p class='price-des'>特殊说明：</p>
	<p>1.以上“无污渍”指可去除污渍；</p>
	<p>2.密封玻璃或防护网距玻璃过近，会影响清洗效果或不能清洗；</p>
</div>
<div class='title'>专业工具</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/window/p6.png'/>
				<p>专业</p>
				<p>玻璃清洁器</p>
			</div>
			<div>
				<img src='../images/intro/window/p7.png'/>
				<p>专业</p>
				<p>清洁手法</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/window/p8.png'/>
				<p>专用</p>
				<p>玻璃清洁剂</p>
			</div>
			<div>
				<img src='../images/intro/window/p9.png'/>
				<p>保洁布</p>
				<p>清洁工作区域</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务优势</div>
<div class='content'>
	<div class='table service-des'>
		<div class='row'>
			<div>
				<img src='../images/intro/s1.png'/>
				<p>服务人员形象统一</p>
				<p>工具标配</p>
			</div>
			<div>
				<img src='../images/intro/s2.png'/>
				<p>实名认证、健康</p>
				<p>认证、技能认证</p>
			</div>
		</div>
		<div class='row'>
			<div>
				<img src='../images/intro/s3.png'/>
				<p>专业工具组</p>
				<p>超强清洁0死角</p>
			</div>
			<div>
				<img src='../images/intro/s4.png'/>
				<p>更换垃圾袋</p>
				<p>服务更贴心</p>
			</div>
		</div>
	</div>
</div>
<div class='title'>服务保障</div>
<div class='content'>
	<img src='../images/intro/service2.png'/>
</div>
<div class='title'>预订须知</div>
<div class='content content-tips'>
	<p><span class='list-style'></span>更改订单服务时间：请在服务前至少4小时通知e享家或家政服务人员；</p>
	<p><span class='list-style'></span>取消订单：1.如暂时不需要此服务请您取消订单，需要时再重新预约即可；2.服务前两小时不支持线上取消订单，如需取消订单请致电400-880-9205取消订单。
</p>
	<p><span class='list-style'></span>注：服务时间内由于用户原因无法照常服务，服务人员将等待15分钟，自行离开。</p>
</div>
<div class='fixed-btn'>
	<button>马上预约</button>
</div>
