body{
	font-size:1.4rem;
}
input {
	width:100%;
	border:none;
}
.table {
	background:#fff;
}
.col-1 {
	padding-top:1rem;
	padding-bottom:1rem;
	width:1.5rem;
	padding-left:1.5rem;
	padding-right: 1rem;
}
.arrow {
	width:5rem;
	padding-right: 1.5rem;
	text-align:right;
}
.arrow i {
	-webkit-transition: -webkit-transform 0.5s linear 0s;
	display:inline-block;
}
.col-1 i {
	font-size:1.8rem;
	color:#989898;
}
.row .col-2{
	border-bottom:1px solid #ebebeb;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.row .arrow{
	border-bottom:1px solid #ebebeb;
}
.row:last-child .col-2{
	border-bottom:none;
}
.row:last-child .arrow{
	border-bottom:none;
}
.arrow{
	color:#c5c5c5;
}
.col-2 p{
	margin-bottom:5px;
}
.chip {
	background:#fff;
	padding:1.5rem 1.5rem 0.5rem;
	margin-bottom:1rem;
}
.page-2 .chip:first-child{
	margin-top:0;
}
.chip span {
	border: 1px solid #c5c5c5;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.require-item {
	border: 1px solid #c5c5c5;
	float:left;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right:1rem;
	margin-bottom:1rem;
}
.title {
	padding-bottom: 1rem;
	font-size:1.6rem;
}
.flex-box {
	-webkit-box-align:start;
}
.flex-box > div {
	width:10rem;
	margin-right:1rem;
	margin-bottom:1rem;
}
.flex-box > div:last-child{
	margin-right:0;
}
.chip div.selected{
	border:1px solid #ff6733;
	color:#ff6733;
}
.address-chip {
	background:#fff;
	margin-bottom:0.5rem;
}
.address-info {
	padding-top:1rem;
	padding-left:1rem;
	padding-right:1rem;
}
.address-info p {
	margin-bottom:1rem;
}
.address-bar {
	padding:1rem;
	border-top:1px solid #ebebeb;
	font-size:1.5rem;
}
.address-bar i {
	margin-right:5px;
	font-size:1.5rem;
}
.mod {
	margin-right:0.5rem;
}
.del i {
	margin-right:1px;
}
.default {
	color:#ff6733;
}
.demand-box {
	margin-top: 0.5rem;
}
.demand-item {
	float:left;
	border:1px solid #000;
	padding:0.5rem 1rem;
	border-radius:0.5rem;
	margin-right:5px;
	margin-bottom:5px;
}
.toolbar-inner{
	font-size:2rem;
}
.icon-next, .icon-prev {
    width: 1.2rem !important;
    height: 1.2rem !important;
}
.remark-box{
	display:none;
}
.remark {
	width: 100%;
    height: 8rem;
    border-radius: 5px;
}
.icon-checked:before { content: "\e661"; }
.icon-check:before { content: "\e660" !important;}
.linkman {
	margin-right:0.5rem;
}
.page-success {
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 100;
}
.fill-ok {
	width:26rem;
	position:absolute;
	left:50%;
	margin-top:5rem;
	margin-left: -13rem;
	background:#fff;
	border-radius:5px;
	padding:3rem 1rem 1rem;
	z-index:101;
	text-align:center;
}
.fill-ok i {
	font-size:6rem;
	color:#ff6733;
}
.ok-title {
	font-size:1.8rem;
	margin-top:1rem;
	margin-bottom:1rem;
}
.ok-des {
	color:#8d8d8d;
	line-height: 2rem;
}
.fill-ok button {
	margin-top:5rem;
}
