body {
	font-size:1.4rem;
	padding-bottom:6rem;
}
.logo-chip {
	background:#ff6733;
	color:#fff;
}
.row>div {
	padding-top: 1rem;
	padding-bottom:1rem;
}
.title {
	font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem 2rem 0.5rem;
    border-bottom:1px solid #ff6733;
}
div.icon {
	position:relative;
}
div.icon img {
	position: absolute;
    width: 5rem;
    bottom: 0.5rem;
    left: 2rem;
}
.icon-title {
	padding-left:8rem;
	font-size:1.6rem;
}
.icon-des {
	text-align: right;
    padding-right: 2rem;
}
.content {
	padding: 1rem 2rem;
    line-height: 2rem;
}
.price-des {
	color:#ff6733;
}
table {
	text-align:center;
	margin-top:1rem;
	margin-bottom:1rem;
}
td {
	border:1px solid #9f9f9f;
	padding: 0.5rem 1rem;
}
.service-range {
	text-align: center;
    font-size: 1.4rem;
}
.service-range .row > div {
	padding-left: 1rem;
    padding-right: 1rem;
    width:5rem;
}
.service-des {
	text-align:center;
	font-size:1.4rem;
}
.service-des .row > div {
	padding-left: 2rem;
	padding-right: 2rem;
	width:50%;
}
.list-style {
	display: inline-block;
    width: 10px;
    height: 10px;
    background: #ff6733;
    border-radius: 50%;
    margin-right: 5px;
}
.price-table {
	line-height:2rem;
}
.type-icon {
	width:6rem;
}
.row-2 > div {
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
.type-title span {
	float:right;
	margin-right:2rem;
}
.type-title {
	font-weight:bold;
}
.type-des {
	font-size:1.2rem;
	color:#a8a8a8;
}